
Eliminar los nombres vacíos de la siguiente lista: nombres = ["", "jose", "juana", "luis" , "encarnacion", "", "pepa"] Ayuda: También podemos aplicar la función len a los strings,
un string vacío tiene longitud 0.

In [10]:
nombres = ["", "jose", "juana", "luis", "encarnacion", "", "pepa"]
nombres_1 = [nombre for nombre in nombres if len(nombre) > 0]
print(nombres_1)

['jose', 'juana', 'luis', 'encarnacion', 'pepa']

A partir de la lista del ejercicio anterior, queremos obtener un diccionario donde las claves son los nombres y los valores son los apellidos. 
apellidos = ["stark", "targaryen", "baratheon", "martillo", "lannister"]

In [11]:
nombres = ['jose', 'juana', 'luis', 'encarnacion', 'pepa']
apellidos = ["stark", "targaryen", "baratheon", "martillo", "lannister"]
diccionario = {nombres[i]: apellidos[i] for i in range(len(nombres))}
print(diccionario)

{'jose': 'stark', 'juana': 'targaryen', 'luis': 'baratheon', 'encarnacion': 'martillo', 'pepa': 'lannister'}

Combinar los siguientes diccionarios en uno solo: diccionario1 = {'a': 1, 'b': 2, 'c': 3} y diccionario2 = {'c': 4, 'd': 5, 'e': 6}.

In [12]:
diccionario1 = {'a': 1, 'b': 2, 'c': 3}
diccionario2 = {'c': 4, 'd': 5, 'e': 6}

diccionario_co= {**diccionario1, **diccionario2}
print(diccionario_co)

{'a': 1, 'b': 2, 'c': 4, 'd': 5, 'e': 6}

Encontrar la clave con el valor más alto en el siguiente diccionario: notas = {'Juan': 85, 'María': 92, 'Carlos': 78, 'Sofía': 95, 'Pedro': 88}

In [9]:

notas = {'Juan': 85, 'María': 92, 'Carlos': 78, 'Sofía': 95, 'Pedro': 88}
clave_maxima = max(notas, key=notas.get)  # Obtiene la clave con el valor más alto
print(clave_maxima)  # Imprime: Sofía

Sofía

In [19]:
#ejemplos chat

# Creación de una tupla
mi_tupla = (1, 2, 3, 'Python', 3.14)

# Acceder a elementos de la tupla
print(mi_tupla[0])  
print(mi_tupla[3]) 

# Longitud de la tupla
print(len(mi_tupla))  


# Creación de un diccionario
mi_diccionario = {
    'nombre': 'Balentina',
    'edad': 28,
    'ciudad': 'Mallorca'
}

# Acceder a elementos del diccionario
print(mi_diccionario['nombre'])  # Salida: Balentina
print(mi_diccionario['edad'])     # Salida: 28

# Agregar un nuevo par clave-valor
mi_diccionario['profesión'] = 'Ingeniera agrónoma'

# Modificar un valor existente
mi_diccionario['edad'] = 28

# Eliminar un elemento
del mi_diccionario['ciudad']


# Tupla con nombres y edades de sobrinas
sobrinas = ('Krystal Gabriella', 6, 'Charlotte', 1)

# Acceder a los elementos de la tupla
print(f'La primera sobrina se llama {hijas[0]} y tiene {sobrinas[1]} años.')  # Salida: La primera hija se llama Krystal Gabriella y tiene 6 años.
print(f'La segunda sobrina se llama {hijas[2]} y tiene {sobrinas[3]} años.')  # Salida: La segunda hija se llama Charlotte y tiene 1 años.

1
Python
5
Balentina
28
La primera sobrina se llama Krystal Gabriella y tiene 6 años.
La segunda sobrina se llama Charlotte y tiene 1 años.

In [20]:
# Diccionario con información personal
mi_informacion = {
    'nombre': 'Balentina Agudelo Escobar',
    'profesión': 'Ingeniera Agrónoma',
    'sobrinas': {
        'sobrina1': {
            'nombre': 'Krystal Gabriella',
            'edad': 6
        },
        'sobrina2': {
            'nombre': 'Charlotte',
            'edad': 1
        }
    },
    'experiencia_laboral': [
        'Vendedora en tiendas de ropa y zapatos',
        'Auxiliar administrativo en la Federación Nacional de Cafeteros'
    ]
}

# Acceder a elementos del diccionario
print(f'Nombre: {mi_informacion["nombre"]}')  # Salida: Nombre: Valentina Agudelo Escobar
print(f'Profesión: {mi_informacion["profesión"]}')  # Salida: Profesión: Ingeniera Agrónoma
print(f'Primera sobrina: {mi_informacion["sobrinas"]["sobrina1"]["nombre"]}, Edad: {mi_informacion["sobrinas"]["sobrina1"]["edad"]}') 
print(f'Segunda sobrina: {mi_informacion["sobrinas"]["sobrina2"]["nombre"]}, Edad: {mi_informacion["sobrinas"]["sobrina1"]["edad"]}')  

# Imprimir experiencia laboral
print('Experiencia laboral:')
for experiencia in mi_informacion['experiencia_laboral']:
    print(f'- {experiencia}')

Nombre: Balentina Agudelo Escobar
Profesión: Ingeniera Agrónoma
Primera sobrina: Krystal Gabriella, Edad: 6
Segunda sobrina: Charlotte, Edad: 6
Experiencia laboral:
- Vendedora en tiendas de ropa y zapatos
- Auxiliar administrativo en la Federación Nacional de Cafeteros